
<!-- start: about us section -->
<section id="about" class="dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>about us <span>||| make sure you know about us</span></h2>
                </div> <!-- /.section-title -->
            </div>
        </div>

        <div class="about-info">
            <div class="row">
                <div class="col-md-4">
                    @*<img src="assets/img/smart-watch.jpg" alt="Smart Watch" class="img-responsive center-block">*@
                </div>
                <div class="col-md-8">
                    <h2>learn <strong>about</strong> our services</h2>
                    <p>
                        We provide strategic consulting for system architecture implementation, code organisational improvement and website performance advice. 
                     </p>
                </div>
            </div>
        </div><!-- /.about-info -->

        <div class="row">
            <div class="col-md-4">
                <div class="about-content">
                    <div class="about-icon center-block">
                        <i class="ion-android-checkmark-circle"></i>
                    </div>
                    <h3 class="about-heading">Web application development and code refactoring</h3>
                    <p class="about-description">
                        Development is done using Microsoft's .Net framework and SQL backend.
                    </p> 
                </div> <!--  end of .about-content  -->
            </div>
            <div class="col-md-4">
                <div class="about-content">
                    <div class="about-icon center-block">
                        <i class="ion-android-checkmark-circle"></i>
                    </div>
                    <h3 class="about-heading">Realistic timelines for code delivery</h3>
                    <p class="about-description">
                                                
                    </p> 
                </div> <!--  end of .about-content  -->
            </div>
            <div class="col-md-4">
                <div class="about-content">
                    <div class="about-icon center-block">
                        <i class="ion-android-checkmark-circle"></i>
                    </div>
                    <h3 class="about-heading">Online website setup</h3>
                    <p class="about-description">
                        We can set up your domain name, and a hosting for your business needs. 
                    </p> 
                </div> <!--  end of .about-content  -->
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!-- end: about us section-->