

<!-- start: blog section-->
<section id="blog" class="dark-gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>latest news <span>||| make sure you know about us</span></h2>
                </div> <!-- /.section-title -->

                <a href="#" class="btn btn-red-border section-heading-btn">view all</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="blog-content">
                    <a href="single_blog.html">
                        <img src="assets/img/blog1.jpg" class="img-responsive center-block" alt="Blog Post 1 Thumbnail">
                    </a>
                    <a href="single_blog.html">
                        <h4>single image post title here</h4>
                    </a>
                    <span class="date">may 24,2015</span>
                    <span>12 comments</span>

                    <p class="blog-description text-justified">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ...
                    </p>

                    <a href="single_blog.html" class="btn btn-red-border">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                </div> <!-- /.blog-content -->
            </div>
            <div class="col-md-4">
                <div class="blog-content">
                    <a href="single_blog.html">
                        <img src="assets/img/blog2.jpg" class="img-responsive center-block" alt="Blog Post 2 Thumbnail">
                    </a>
                                
                    <a href="single_blog.html"><h4>multiple image post title here</h4></a>
                    <span class="date">may 24,2015</span>
                    <span>12 comments</span>

                    <p class="blog-description text-justified">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ...
                    </p>

                    <a href="single_blog.html" class="btn btn-red-border">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                </div> <!-- /.blog-content -->
            </div>
            <div class="col-md-4">
                <div class="blog-content">
                    <a href="single_blog.html">
                        <img src="assets/img/blog3.jpg" class="img-responsive center-block" alt="Blog Post 3 Thumbnail">
                    </a>
                                
                    <a href="single_blog.html"><h4>single video post title here</h4></a>
                    <span class="date">may 24,2015</span>
                    <span>12 comments</span>

                    <p class="blog-description text-justified">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ...
                    </p>

                    <a href="single_blog.html" class="btn btn-red-border">Read More <span><i class="ion-ios-arrow-thin-right"></i></span></a>
                </div>  <!-- /.blog-content -->
            </div>
        </div>
    </div>
</section> <!-- /#blog -->
<!-- end: blog section-->

