   <!-- Header -->
            <header id="header" class="header-wrapper home-parallax home-fade">
                <div class="color-overlay"></div>
                <div class="header-wrapper-inner">
                    <div class="container">

                        <div class="intro">
                            <h1>a service provider</h1>
                            <h3>Clear, Concise, Cogent</h3>
                            <a href="#services" class="btn btn-red-border">Our Services</a>
                        </div><!-- /.intro -->

                    </div><!-- /.container -->
                </div><!-- /.header-wrapper-inner -->
            </header>
            <!-- /Header -->
