<!-- start: portfolio section-->
<section id="portfolio" class="dark-gray-bg">
    <div class="container">

        <div class="row portfolio-filter">
            <div class="col-md-12 filter-button-group" id="filters">
                <div class="section-title">
                    <h2>portfolio <span>||| check our latest works</span></h2>
                </div> <!-- /.section-title -->
                <button type="button" class="btn btn-default btn-red-border section-heading-btn" data-filter="*">view all</button>
                <button type="button" class="btn btn-default" data-filter=".web">WEB</button>
                <button type="button" class="btn btn-default" data-filter=".app">APP</button>
                <button type="button" class="btn btn-default" data-filter=".design">DESIGN</button>
                <button type="button" class="btn btn-default" data-filter=".seo">SEO</button>
            </div>
        </div>  <!-- row -->

        <div class="row">
            <div id="portfolioItems">

                <div class="col-md-4 col-sm-6 col-xs-12 element-item web all" data-category="web all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio1.jpg"  alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 element-item app all" data-category="app all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio2.jpg" alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                                
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 element-item design all" data-category="design all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio3.jpg" alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 element-item seo all" data-category="seo all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio5.jpg" alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 element-item web all" data-category="web all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio4.jpg" alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 element-item app all" data-category="app all">
                    <figure class="effect-zoe"> 
                        <img class="img-responsive center-block" src="assets/img/portfolio6.jpg" alt="Portfolio Thumbnail">
                        <figcaption>
                            <h2>Item Name</h2>
                            <p class="icon-links">
                                <a href="#"><span class="ion-planet"></span></a>
                                <a href="#"><span class="ion-flag"></span></a>
                                <a href="#"><span class="ion-battery-charging"></span></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>  <!-- #portfolioItems -->
        </div>  <!-- row -->
    </div>
</section> <!-- /#portfolio -->
<!-- end: portfolio section-->

