

<!-- start: pricing section -->
<section id="pricing">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>pricing <span>||| make sure you know about our pricing</span></h2>
                </div> <!-- /.section-title -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 price-catagory">
                <div class="price-box">
                    <p class="pricing-catagory-name">Basic</p>
                    <p><span class="price">$17</span>/Month</p>
                    <p>Billed anually or $19 month-to-month</p>
                    <hr>
                    <ul>
                        <li><i class="ion-android-done"></i>1 User</li>
                        <li><i class="ion-android-done"></i>1 Dashboard</li>
                    </ul>

                    <a href="#" class="btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price-catagory">
                <div class="price-box">
                    <p class="pricing-catagory-name">Business</p>
                    <p><span class="price">$53</span>/Month</p>
                    <p>Billed anually or $19 month-to-month</p>
                    <hr>
                    <ul>
                        <li><i class="ion-android-done"></i>3 Users</li>
                        <li><i class="ion-android-done"></i>Unlimited Dashboards</li>
                        <li><i class="ion-android-done"></i>Custom CSS</li>
                    </ul>

                    <a href="#" class="btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price-catagory">
                <div class="price-box">
                    <p class="pricing-catagory-name">Premium</p>
                    <p><span class="price">$66</span>/Month</p>
                    <p>Billed anually or $19 month-to-month</p>
                    <hr>
                    <ul>
                        <li><i class="ion-android-done"></i>20 Users</li>
                        <li><i class="ion-android-done"></i>Unlimited Dashboards</li>
                        <li><i class="ion-android-done"></i>Custom CSS</li>
                        <li><i class="ion-android-done"></i>IP Restriction</li>
                    </ul>

                    <a href="#" class="btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price-catagory">
                <div class="price-box">
                    <p class="pricing-catagory-name">Ultimate</p>
                    <p><span class="price">$89</span>/Month</p>
                    <p>Billed anually or $19 month-to-month</p>
                    <hr>
                    <ul>
                        <li><i class="ion-android-done"></i>20 Users</li>
                        <li><i class="ion-android-done"></i>Unlimited Dashboards</li>
                        <li><i class="ion-android-done"></i>Custom CSS</li>
                        <li><i class="ion-android-done"></i>IP Restriction</li>
                        <li><i class="ion-android-done"></i>Custom Domain</li>
                    </ul>

                    <a href="#" class="btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#pricing -->
<!-- end: pricing section -->

