
<!-- start: testimonial -->
<section id="testimonial" class="dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>testimonial <span>||| what our client says</span></h2>
                </div> <!-- /.section-title -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="client-speech" class="owl-carousel owl theme">
                    <div class="item text-uppercase">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/img/testimonial.jpg" class="img-circle img-responsive center-block" alt="Client photo">
                            </div>
                            <div class="col-md-9">
                                <div class="client-text">
                                    <p>
                                        create a website that you are gonna be proud of. be it business, portfolio, photography, ecommerce and much more.
                                    </p>
                                    <p class="cient-designation">
                                        ceo of a.e.t institute
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item text-uppercase">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/img/testimonial.jpg" class="img-circle img-responsive center-block" alt="Client photo">
                            </div>
                            <div class="col-md-9">
                                <div class="client-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna.
                                    </p>
                                    <p class="cient-designation">
                                        ceo of a.e.t institute
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item text-uppercase">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/img/testimonial.jpg" class="img-circle img-responsive center-block" alt="Client photo">
                            </div>
                            <div class="col-md-9">
                                <div class="client-text">
                                    <p>
                                        Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    </p>
                                    <p class="cient-designation">
                                        ceo of a.e.t institute
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> <!-- /#testimonial -->
<!-- end: testimonial -->
